[submodule "dep/libpoker"]
	path = dep/libpoker
	url = https://github.com/pandaant/libpoker
[submodule "dep/libecalc"]
	path = dep/libecalc
	url = https://github.com/pandaant/libecalc
[submodule "dep/libmcts"]
	path = dep/libmcts
	url = https://github.com/pandaant/libmcts
[submodule "dep/decimal_for_cpp"]
	path = dep/decimal_for_cpp
	url = https://github.com/vpiotr/decimal_for_cpp
